# WARNING: KEEP THE ORDER AND NO SPACE BEFORE KERNEL_xxx PARAMETERS

# For the KERNEL module you have to give the following information:

# KERNEL_FILE_PATH <path> (relative directory path where to load the kernel source)

# KERNEL_GIT_PATH <path> (GIT URL used to clone containing)
# KERNEL_GIT_SHA1 <path> (GIT SHA1 required)

# If additional patches are required (optional)
# KERNEL_PATCH_1 <file name> (file name with or without suffix)
# ...
# KERNEL_PATCH_<n> <file name> (file name with or without suffix)


KERNEL_FILE_PATH device/stm/stm32mp2-kernel/linux-stm32mp2

KERNEL_GIT_PATH https://android.googlesource.com/kernel/common
# KERNEL_GIT_PATH https://github.com/aosp-mirror/kernel_common

# TAG ASB-2024-06-05_14-6.1 (kernel 6.1.78)
KERNEL_GIT_SHA1 ac9706483e98b63ce12c448c7f1104b239b90a0b

KERNEL_PATCH_1 0001-v6.1-stm32mp-r2.patch
KERNEL_PATCH_2 0002-v6.1-stm32mp-r2.1.patch
KERNEL_PATCH_3 0003-ANDROID-binder-failed_at-available-only-in-case-of-f.patch
KERNEL_PATCH_4 0004-ANDROID-scripts-add-clang-and-default-reload-options.patch
KERNEL_PATCH_5 0005-cpufreq-stm32-cpufreq-Fix-build-as-module-option.patch
KERNEL_PATCH_6 0006-pinctrl-stm32-allow-the-option-of-building-as-module.patch
KERNEL_PATCH_7 0007-regulator-stm32-allow-the-option-of-building-as-modu.patch
KERNEL_PATCH_8 0008-soc-st-allow-the-option-of-building-as-module-the-pm.patch
KERNEL_PATCH_9 0009-STM32MP2-add-dummy-battery-and-charger-BSPv5.0.0.patch
KERNEL_PATCH_10 0010-drm-create-a-new-expected_present_time-crtc-property.patch
KERNEL_PATCH_11 0011-Android-GKI-remove-GKI-module-protection.patch
KERNEL_PATCH_12 0012-dts-android-remove-delete-property-mechanism-for-dma.patch
KERNEL_PATCH_13 0013-dts-android-set-usb-role-to-peripheral-as-default.patch
KERNEL_PATCH_14 0014-dts-android-change-reboot-mode-from-fastboot-to-boot.patch
KERNEL_PATCH_15 0015-dts-android-add-soc-device-tree-and-board-add-on-in-.patch
KERNEL_PATCH_16 0016-fix-build-issues.patch
KERNEL_PATCH_17 0017-doesn-t-resume-after-exit-from-Low-Power.patch
KERNEL_PATCH_18 0018-fixup-drm-stm-ltdc-remove-crtc_set_nofb.patch
KERNEL_PATCH_19 0019-drm-stm-use-of-config-helper-suspend-resume.patch
KERNEL_PATCH_20 0020-drm-stm-ltdc-flush-remaining-vblank-event.patch
KERNEL_PATCH_21 0021-drm-stm-ltdc-remove-crtc_set_nofb.patch
KERNEL_PATCH_22 0022-force-MMC-enumeration.patch
KERNEL_PATCH_23 0023-dts-android-use-retram-as-permanent-storage-for-debu.patch
KERNEL_PATCH_24 0024-Fix-LTDC-blending-for-overlay-activation.patch
KERNEL_PATCH_25 0025-Updated-drm-driver-for-correct-HDMI-support.patch
KERNEL_PATCH_26 0026-dts-add-stm32mp257f-dk-support.patch
KERNEL_PATCH_27 0027-fixup-iio-adc-variable-not-initialized.patch
KERNEL_PATCH_28 0028-fixup-drivers-media-correct-logical-inversion.patch
KERNEL_PATCH_29 0029-HDMI-support-on-DK-board.patch
KERNEL_PATCH_30 0030-mmc-mmci-stm32-fix-DMA-API-overlapping-mappings-warn.patch
KERNEL_PATCH_31 0031-mmc-mmci-stm32-handle-mmc-power-up.patch
KERNEL_PATCH_32 0032-mmc-mmci-stm32-use-the-delay-block-above-100-MHz-on-.patch
KERNEL_PATCH_33 0033-mmc-mmci-stm32-add-hardware-translation-management.patch
KERNEL_PATCH_34 0034-fixup-scripts-kconfig-merge_config.sh-must-be-execut.patch
