# WARNING: KEEP THE ORDER AND NO SPACE BEFORE KERNEL_xxx PARAMETERS

# For the KERNEL module you have to give the following information:

# KERNEL_FILE_PATH <path> (relative directory path where to load the kernel source)

# KERNEL_GIT_PATH <path> (GIT URL used to clone containing)
# KERNEL_GIT_SHA1 <path> (GIT SHA1 required)

# If additional patches are required (optional)
# KERNEL_PATCH_1 <file name> (file name with or without suffix)
# ...
# KERNEL_PATCH_<n> <file name> (file name with or without suffix)


KERNEL_FILE_PATH device/stm/stm32mp1-kernel/linux-stm32mp1

KERNEL_GIT_PATH https://android.googlesource.com/kernel/common
KERNEL_GIT_SHA1 fcb0d3ef9b1752014ea5ad66635ca2095960e900

# STM32MP1 Linux integration
KERNEL_PATCH_1 0001-ARM-stm32mp1-r2-MACHINE.patch
KERNEL_PATCH_2 0002-ARM-stm32mp1-r2-CPUFREQ.patch
KERNEL_PATCH_3 0003-ARM-stm32mp1-r2-CRYPTO.patch
KERNEL_PATCH_4 0004-ARM-stm32mp1-r2-RNG-DEBUG-NVMEM.patch
KERNEL_PATCH_5 0005-ARM-stm32mp1-r2-CLOCK.patch
KERNEL_PATCH_6 0006-ARM-stm32mp1-r2-DMA.patch
KERNEL_PATCH_7 0007-ARM-stm32mp1-r2-DRM.patch
KERNEL_PATCH_8 0008-ARM-stm32mp1-r2-HWSPINLOCK.patch
KERNEL_PATCH_9 0009-ARM-stm32mp1-r2-I2C-IIO-IRQCHIP.patch
KERNEL_PATCH_10 0010-ARM-stm32mp1-r2-MAILBOX-REMOTEPROC-RPMSG.patch
KERNEL_PATCH_11 0011-ARM-stm32mp1-r2-RESET-RTC-WATCHDOG.patch
KERNEL_PATCH_12 0012-ARM-stm32mp1-r2-MEDIA-SOC-THERMAL.patch
KERNEL_PATCH_13 0013-ARM-stm32mp1-r2-MFD.patch
KERNEL_PATCH_14 0014-ARM-stm32mp1-r2-MMC-NAND.patch
KERNEL_PATCH_15 0015-ARM-stm32mp1-r2-NET-TTY.patch
KERNEL_PATCH_16 0016-ARM-stm32mp1-r2-PHY-USB.patch
KERNEL_PATCH_17 0017-ARM-stm32mp1-r2-PINCTRL-REGULATOR-SPI-PWM.patch
KERNEL_PATCH_18 0018-ARM-stm32mp1-r2-SOUND.patch
KERNEL_PATCH_19 0019-ARM-stm32mp1-r2-MISC-CPUIDLE-MM.patch
KERNEL_PATCH_20 0020-ARM-stm32mp1-r2-DEVICETREE.patch
KERNEL_PATCH_21 0021-ARM-stm32mp1-r2-CONFIG.patch
KERNEL_PATCH_22 0022-ARM-stm32mp1-r2-PERF.patch

# STM32MP1 add-ons for Android
KERNEL_PATCH_23 0051-ARM-stm32mp1-r2-DEFCONFIG-add-on-for-Android.patch
KERNEL_PATCH_24 0052-ARM-stm32mp1-r2-POWER-add-on-for-Android.patch
KERNEL_PATCH_25 0053-ARM-stm32mp1-r2-DRM-add-on-for-Android.patch
KERNEL_PATCH_26 0054-ARM-stm32mp1-r2-NET-add-on-for-Android.patch
KERNEL_PATCH_27 0055-ARM-stm32mp1-r2-IRQCHIP-add-on-for-Android.patch
KERNEL_PATCH_28 0056-ARM-stm32mp1-r2-DEVICETREE-add-on-for-Android.patch

# Temporary correction for Android
KERNEL_PATCH_29 0061-ANDROID-binder-failed_at-available-only-in-case-of-f.patch
KERNEL_PATCH_30 0062-ANDROID-tty-increase-maximum-tty-port-name-size-to-a.patch
KERNEL_PATCH_31 0063-ANDROID-scripts-add-clang-and-default-reload-options.patch

# Temporary correction for TP-LINK ath9k
KERNEL_PATCH_32 0099-ath9k-Fix-potential-out-of-bounds-in-ath9k_htc_txcom.patch
KERNEL_PATCH_33 0099-ath9k-hif_usb-fix-race-condition-between-usb_get_urb.patch
KERNEL_PATCH_34 0099-ath9k_htc-Use-appropriate-rs_datalen-type.patch

# Temporary correction for USB probe
KERNEL_PATCH_35 0099-usb-dwc2-reduce-risk-due-to-race-condition.patch
