# WARNING: KEEP THE ORDER AND NO SPACE BEFORE KERNEL_xxx PARAMETERS

# For the KERNEL module you have to give the following information:

# KERNEL_FILE_PATH <path> (relative directory path where to load the kernel source)

# KERNEL_GIT_PATH <path> (GIT URL used to clone containing)
# KERNEL_GIT_SHA1 <path> (GIT SHA1 required)

# If additional patches are required (optional)
# KERNEL_PATCH_1 <file name> (file name without  suffix)
# ...
# KERNEL_PATCH_<n> <file name> (file name without  suffix)


KERNEL_FILE_PATH device/stm/stm32mp1-kernel/linux-stm32mp1

KERNEL_GIT_PATH https://android.googlesource.com/kernel/common
KERNEL_GIT_SHA1 dabb11de5b665d45a302735c2791088a0a2db1eb

KERNEL_PATCH_1 0001-ARM-stm32mp1-r3-MACHINE
KERNEL_PATCH_2 0002-ARM-stm32mp1-r3-CPUFREQ
KERNEL_PATCH_3 0003-ARM-stm32mp1-r3-CRYPTO
KERNEL_PATCH_4 0004-ARM-stm32mp1-r3-BLUETOOTH-CHAR
KERNEL_PATCH_5 0005-ARM-stm32mp1-r3-CLOCK
KERNEL_PATCH_6 0006-ARM-stm32mp1-r3-DMA
KERNEL_PATCH_7 0007-ARM-stm32mp1-r3-DRM
KERNEL_PATCH_8 0008-ARM-stm32mp1-r3-GPIO
KERNEL_PATCH_9 0009-ARM-stm32mp1-r3-HWSPINLOCK
KERNEL_PATCH_10 0010-ARM-stm32mp1-r3-HWTRACING-I2C
KERNEL_PATCH_11 0011-ARM-stm32mp1-r3-IIO
KERNEL_PATCH_12 0012-ARM-stm32mp1-r3-INPUT-IRQ-Mailbox
KERNEL_PATCH_13 0013-ARM-stm32mp1-r3-MEDIA
KERNEL_PATCH_14 0014-ARM-stm32mp1-r3-MFD
KERNEL_PATCH_15 0015-ARM-stm32mp1-r3-MMC-MTD
KERNEL_PATCH_16 0016-ARM-stm32mp1-r3-NET
KERNEL_PATCH_17 0017-ARM-stm32mp1-r3-NVMEM
KERNEL_PATCH_18 0018-ARM-stm32mp1-r3-PERF
KERNEL_PATCH_19 0019-ARM-stm32mp1-r3-PHY-PINCTRL-PWM
KERNEL_PATCH_20 0020-ARM-stm32mp1-r3-REGULATOR
KERNEL_PATCH_21 0021-ARM-stm32mp1-r3-REMOTEPROC-RPMSG-RESET
KERNEL_PATCH_22 0022-ARM-stm32mp1-r3-RTC
KERNEL_PATCH_23 0023-ARM-stm32mp1-r3-SOC
KERNEL_PATCH_24 0024-ARM-stm32mp1-r3-SPI
KERNEL_PATCH_25 0025-ARM-stm32mp1-r3-THERMAL
KERNEL_PATCH_26 0026-ARM-stm32mp1-r3-TTY-USB
KERNEL_PATCH_27 0027-ARM-stm32mp1-r3-WATCHDOG
KERNEL_PATCH_28 0028-ARM-stm32mp1-r3-SOUND
KERNEL_PATCH_29 0029-ARM-stm32mp1-r3-MISC
KERNEL_PATCH_30 0030-ARM-stm32mp1-r3-DEVICETREE
KERNEL_PATCH_31 0031-ARM-stm32mp1-r3-DEFCONFIG
KERNEL_PATCH_32 0050-ARM-stm32mp1-DEVICETREE-add-on-for-Android
KERNEL_PATCH_33 0051-ARM-stm32mp1-POWER-add-on-for-Android
KERNEL_PATCH_34 0053-update-clean-fragment-config
KERNEL_PATCH_35 0054-update-addons-fragment-config
KERNEL_PATCH_36 0055-binder-failed_at-available-only-in-case-of-failure
KERNEL_PATCH_37 0056-ARM-stm32mp1-DRM-add-zpos-property-for-planes
KERNEL_PATCH_38 0057-drm-stm-ltdc-check-crtc-state-before-enabling-LIE
