# -------------------------
# Kernel
CONFIG_NEON=y
CONFIG_KERNEL_MODE_NEON=y
# CONFIG_SCSI_MQ_DEFAULT is not set
# CONFIG_BLK_DEV_SR is not set
# CONFIG_ATA is not set
CONFIG_GPIO_SYSFS=y
CONFIG_BLK_DEV_LOOP_MIN_COUNT=16

# -------------------------
# By default, disable low level debug (enable if required)
# CONFIG_DEBUG_LL is not set
# CONFIG_EARLY_PRINTK is not set

# -------------------------
# Enable OP-TEE
CONFIG_TEE=y
CONFIG_OPTEE=y

# -------------------------
# enable adiantum for data
CONFIG_CRYPTO_ADIANTUM=y

# -------------------------
# Disable as unused
# CONFIG_CAN is not set
# CONFIG_CAN_DEV is not set
# CONFIG_MTD_NAND is not set
# CONFIG_MTD_SPI_NOR is not set
# CONFIG_VIDEO_ADV7511 is not set

# -------------------------
# Allow to load kernel modules built with different kernel version
CONFIG_MODULE_FORCE_LOAD=y

# -------------------------
# Memory
CONFIG_CMA=y
CONFIG_CMA_AREAS=7
CONFIG_DMA_CMA=y
CONFIG_CMA_SIZE_MBYTES=128
# CONFIG_KSM is not set
CONFIG_ION_CMA_HEAP=y

# -------------------------
# Enable ZRAM
CONFIG_ZSMALLOC=y
CONFIG_ZRAM=y
CONFIG_CRYPTO_LZ4=y

# -------------------------
# File system configuration
# CONFIG_MTD_UBI is not set
# CONFIG_UBIFS_FS is not set
CONFIG_EXT4_FS_POSIX_ACL=y

# -------------------------
# CPUFreq
CONFIG_CPU_FREQ_STAT=y
CONFIG_CPU_FREQ_TIMES=y
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=y
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_ARM_STM32_CPUFREQ=y

# CONFIG_QORIQ_CPUFREQ is not set

# -------------------------
# Display (HDMI not managed)
# CONFIG_DRM_SII902X is not set

# -------------------------
# Dummy battery charger
CONFIG_CHARGER_DUMMY=y

# -------------------------
# Reboot reason
CONFIG_REBOOT_MODE=y
CONFIG_SYSCON_REBOOT_MODE=y

# -------------------------
# Net
CONFIG_DUMMY=y

# -------------------------
# Camera (as module)
CONFIG_VIDEO_OV5640=m

# -------------------------
# WLAN configuration
CONFIG_WLAN=y
CONFIG_WIRELESS=y
CONFIG_CFG80211=y
CONFIG_CFG80211_WEXT=y
CONFIG_MAC80211=y
# CONFIG_WLAN_VENDOR_ADMTEK is not set
# CONFIG_WLAN_VENDOR_ATMEL is not set
# CONFIG_WLAN_VENDOR_CISCO is not set
# CONFIG_WLAN_VENDOR_INTEL is not set
# CONFIG_WLAN_VENDOR_INTERSIL is not set
# CONFIG_WLAN_VENDOR_MARVELL is not set
# CONFIG_WLAN_VENDOR_MEDIATEK is not set
# CONFIG_WLAN_VENDOR_RALINK is not set
# CONFIG_WLAN_VENDOR_RSI is not set
# CONFIG_WLAN_VENDOR_ST is not set
# CONFIG_WLAN_VENDOR_TI is not set
# CONFIG_WLAN_VENDOR_ZYDAS is not set

# -------------------------
# Bluetooth configuration
CONFIG_BT=y
CONFIG_RFKILL=y
CONFIG_RFKILL_INPUT=y
CONFIG_RFKILL_GPIO=y

# -------------------------
# Broadcom BT/Wi-Fi loaded as module
CONFIG_BRCMUTIL=m
CONFIG_BRCMFMAC=m
# CONFIG_BRCM_TRACING is not set
# CONFIG_BRCMDBG is not set
CONFIG_BT_HCIUART=m
CONFIG_BT_HCIUART_BCM=y
CONFIG_BT_HCIUART_H4=y
CONFIG_BT_BCM=m
# CONFIG_BT_INTEL is not set

# -------------------------
# Realtek BT/Wi-Fi dongle loaded as module
CONFIG_BT_HCIBTUSB=y
CONFIG_BT_HCIBTUSB_RTL=y
# CONFIG_BT_HCIBTUSB_BCM is not set
CONFIG_RTL8XXXU=m

# -------------------------
# Add TP-link HTC Wi-Fi (TL-WN722N) dongle loaded as module
CONFIG_WLAN_VENDOR_ATH=y
CONFIG_ATH9K=m
CONFIG_ATH9K_HTC=m
# CONFIG_ATH9K_BTCOEX_SUPPORT is not set
# CONFIG_ATH9K_PCOEM is not set
