# For the KERNEL build you have to give the following information:

# KERNEL_SRC <path> (relative directory path where to the kernel source has been loaded)

# KERNEL_DEFCONFIG <defconfig> (kernel defconfig file which shall be used)
# KERNEL_CLEANUP_FRAGMENT <fragment> (kernel defconfig fragment used to clean original defconfig)
# KERNEL_ADDONS_FRAGMENT <fragment> (kernel defconfig fragment used to add soc specific kernel configuration to original defconfig)

# KERNEL_GPU_NAME <name> (GPU module name)
# KERNEL_GPU_SRC <path> (relative directory path where to the GPU driver source has been loaded)

KERNEL_SRC				device/stm/stm32mp1-kernel/linux-stm32mp1

KERNEL_DEFCONFIG		multi_v7_defconfig
KERNEL_CLEANUP_FRAGMENT	fragment-01-multiv7_cleanup.config
KERNEL_ADDONS_FRAGMENT	fragment-02-multiv7_addons.config

KERNEL_GPU_NAME			galcore
KERNEL_GPU_SRC			device/stm/stm32mp1-kernel/gcnano-driver
