# For the KERNEL build you have to give the following information:

# KERNEL_SRC <path> (relative directory path where to the kernel source has been loaded)

# KERNEL_DEFCONFIG <defconfig> (kernel defconfig file which shall be used)
# KERNEL_CLEANUP_FRAGMENT <fragment> (kernel defconfig fragment used to clean original defconfig)
# KERNEL_ADDONS_FRAGMENT <fragment> (kernel defconfig fragment used to add soc specific kernel configuration to original defconfig)

# KERNEL_GPU_NAME <name> (GPU module name)
# KERNEL_GPU_SRC <path> (relative directory path where to the GPU driver source has been loaded)

# KERNEL_WIFI_NAME <name> (WIFI module name)
# KERNEL_WIFI_SRC <path> (relative directory path where to the WIFI driver source has been loaded)

KERNEL_SRC				device/stm/stm32mp1-kernel/linux-stm32mp1

KERNEL_DEFCONFIG		gki_defconfig

KERNEL_SOC_FRAGMENT		stm32mp1_soc.fragment
KERNEL_BOARD_FRAGMENT	stm32mp1_board.fragment

# fragment used for user build (no debug)
KERNEL_USER_FRAGMENT	stm32mp1_user.fragment

# fragment used for userdebug and eng build (debug)
KERNEL_DEBUG_FRAGMENT	stm32mp1_debug.fragment

KERNEL_GPU_NAME			galcore
KERNEL_GPU_SRC			device/stm/stm32mp1-kernel/gcnano-driver

# Example of Wi-fi driver build added for rtl88x2bu
# Prerequisites:
#   cd device/stm/stm32mp1-kernel
#   git clone https://github.com/RinCat/RTL88x2BU-Linux-Driver.git rtl88x2bu

# KERNEL_WIFI_NAME		88x2bu
# KERNEL_WIFI_SRC			device/stm/stm32mp1-kernel/rtl88x2bu
